header {
    background: #FFF;
    padding: 50px 0;
}

header ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
}

nav a {
    color: #1D1D1D;
    font-size: 20px;
    text-decoration: none;
    margin: 0 0 0 50px;
}

nav a:hover {
    color: #0C70F2;
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    nav.open {
        display: flex;
        align-items: end;
    }
    
    nav {
        display: none;
        background: #1D1D1D;
        border: 10px solid #333;
        flex-direction: column;
        height: 100%;
        width: 40vw;
        padding: 37px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
        box-shadow: -50vw 0 0 0 rgba(0, 0, 0, 0.75);
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        display: flex;
    }

    nav a {
        text-decoration: none;
        width: 100%;
        border-bottom: 1px solid #FFF;
        color: #FFF;
        font-size: 20px;
        padding: 12px;
        margin: 0 0 10px 0;
    }

    .mobile-menu {
        display: block;
    }

    .close-btn {
        background: none;
        border: none;
        color: #FFF;
        font-size: 25px;
        padding: 12px;
        margin: 0 0 12px 0;
        width: fit-content;
        cursor: pointer;
    }
}